/* Write your CSS code here */
/* Write your CSS code here */
.aboutContainer {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutImg {
  height: 45vh;
  width: 35%;
}

@media screen and (min-width: 768px) {
  .aboutImg {
    width: 50%;
  }
}

.heading {
  font-family: roboto;
  font-size: 50px;
  color: #6d396b;
}

.para {
  font-family: roboto;
  font-size: 25px;
  color: #555555;
}
